<div class="wrapper card mx-4 mx-md-5 shadow-5-strong">
    <a [routerLink]="['/create-game']" routerLinkActive="router-link-active">
        <button class="btn btn-outline-primary" style="width: 15%; margin: 10px; background-color: blue; color: white;">
            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
                <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
            </svg>
            Thêm game mới
        </button>
    </a>
    <div class="container card-body py-5 px-md-5 ">
        <div class="row g-1 justify-content-center">            
            <div class="col-md-3" *ngFor="let dataItem of Gamelist" style="padding: 15px; padding-top: 0px;">
                <!-- cài animation cho game hover -->
                <div [ngClass]="animation" (mouseover)="animation='card p-3 hoverG'" (mouseout)="animation='card p-3'">
                    <a class="pull-left" [routerLink]="['/detail_game',dataItem.ID_Game]"
                        routerLinkActive="router-link-active">
                        <div class="text-center">
                            <img [src]=imageUrl+dataItem.Logo_Game alt="" width="100%" height="150px" title="Xem chi tiết"/>
                        </div>
                    </a>
                    <div class="product-details">
                        <span class="font-weight-bold d-block" style="font-weight: bold;">{{dataItem.Ten_Game}}</span>
                        <span>{{dataItem.LuotTaiXuong}} lượt tải xuống</span>
                        <span class="font-weight-bold d-block">Giá : {{dataItem.Gia}}</span>
                        <div class="buttons d-flex flex-row row">
                            <a (click)="deleteClick(dataItem.ID_Game)" class="col-md-6">
                                <button class="btn btn-success cart-button
                                    btn-block" style="background-color: red;">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                        <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                                    </svg>
                                    Xóa
                                </button>
                            </a>
                            <br>
                            <a [routerLink]="['/edit-game', dataItem.ID_Game]" routerLinkActive="router-link-active" class="col-md-6" >
                                <button class="btn btn-success cart-button
                                    btn-block" style="background-color: blue;">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                    </svg>
                                    Sửa
                                </button>
                            </a>
                        </div>
                        <div class="weight">
                            <small><span *ngFor="let in of counter(dataItem.DanhGiaTB) ;let i = index"><i class="fa fa-star" ></i></span><span *ngFor="let in of counter(5-dataItem.DanhGiaTB) ;let i = index"><i class="fa fa-star" style="color: gray;"></i> </span> {{dataItem.DanhGiaTB.toFixed(1)}}/5.0 </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>